<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center flex-column">
        <div class="col d-flex justify-content-center align-items-center flex-column">
            <img src="/images/actualizado.png" alt="okay" class="img-fluid" id="imagen-confirmacion">
            <h1>Datos Actualizados</h1>
        </div>
    </div>
</div>

<script src="/dashboard/redireccionar.js"></script>