<div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center flex-column">
        <div class="col d-flex justify-content-center align-items-center flex-column">
            <img src="/images/okay.png" alt="okay" class="img-fluid" id="imagen-confirmacion">
            <h1>Proceso Completado</h1>
        </div>
    </div>
    <button><a href="/principal">gtrg</a></button>
</div>

<script src="/dashboard/redireccionar.js"></script>