<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <!--<img src="logo.png" alt="">-->
            </span>
            <div class="text logo-text">
                <span class="name">Apparecchio</span>
            </div>
        </div>
        <i class='bx bx-chevron-right toggle'></i>
    </header>
    <!--Enlaces dashboard-->
    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="/principal">
                        <i><img src="https://img.icons8.com/sf-black-filled/48/null/home.png" /></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <!--Enlace a la página de pedidos-->
                <li class="nav-link">
                    <a href="/pedidos">
                        <i><img src="https://img.icons8.com/ios-glyphs/40/null/shopping-cart--v1.png" /></i>
                        <span class="text nav-text">Pedidos</span>
                    </a>
                </li>
                <!--Enlace a la página de clientes-->
                <li class="nav-link">
                    <a href="/clientes">
                        <i><img src="https://img.icons8.com/sf-black-filled/48/null/conference-call.png" /></i>
                        <span class="text nav-text">Clientes</span>
                    </a>
                </li>
                <!--Enlace a la página de productos-->
                <li class="nav-link">
                    <a href="/productos">
                        <i><img src="https://img.icons8.com/material-sharp/42/null/package.png" /></i>
                        <span class="text nav-text">Productos</span>
                    </a>
                </li>
                <!--Enlace a la página de usuarios-->
                <li class="nav-link">
                    <a href="/usuarios">
                        <i><img src="https://img.icons8.com/fluency-systems-filled/48/null/user.png" /></i>
                        <span class="text nav-text">Usuarios</span>
                    </a>
                </li>
                <!--Enlace a la página de categorias-->
                <li class="nav-link">
                    <a href="/categorias">
                        <i><img
                                src="https://img.icons8.com/external-others-inmotus-design/40/null/external-Check-List-check-others-inmotus-design.png" /></i>
                        <span class="text nav-text">Categorias</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="/Marcas">
                        <i><img
                                src="https://img.icons8.com/external-sbts2018-outline-sbts2018/40/null/external-brand-basic-ui-elements-2.2-sbts2018-outline-sbts2018.png" /></i>
                        <span class="text nav-text">Marcas</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-content">
            <!--Logout/cierre de sesión-->
            <li class="">
                <a href="/">
                    <i><img
                            src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/null/external-exit-essentials-tanah-basah-glyph-tanah-basah.png" /></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>
            <!--Boton de modo oscuro-->
            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>
<section class="home">
    <div class="container">
        <div class="text">
            <h2>
                <%= producto %>
            </h2>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-end">
                <a href="/report/record/<%= producto %>" class="btn btn-success">Crear reporte</a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <table class="table table-bordered table-hover text-light">
                    <thead>
                        <tr>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% historial.forEach((data)=> { %>
                            <tr>
                                <td>
                                    <%= data.stock %>
                                </td>
                                <td>
                                    <%= data.date %>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </div><br>

    <!--tabla de contenido-->

</section>

<script>
    const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");
    toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
    })
    modeSwitch.addEventListener("click", () => {
        body.classList.toggle("dark");
        if (body.classList.contains("dark")) {
            modeText.innerText = "Light mode";
        } else {
            modeText.innerText = "Dark mode";
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/dashboard/fechas.js"></script>