<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Modal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/modal.css">
</head>
<body>
<!--Boton-->
    <div class="boton-modal">
        <label for="btn-modal">
            Abrir Modal
        </label>
    </div>
<!--Fin de Boton-->
<!--Ventana Modal-->
    <input type="checkbox" id="btn-modal">
    <div class="container-modal">
        <div class="content-modal">
            <h2>Crear Marca</h2>
            <form action="">
                Nombre Categoria <br><img src="https://img.icons8.com/external-sbts2018-solid-sbts2018/20/null/external-brand-basic-ui-elements-2.2-sbts2018-solid-sbts2018.png"/><input type="text"><br>
                Imagen <br> <input type="file">
                        
            </form>
            <div class="btn-cerrar">
                <label type="submit" id="aceptar">Enviar</label>
                <label for="btn-modal">Cerrar</label>
            </div>
        </div>
        <label for="btn-modal" class="cerrar-modal"></label>
    </div>
<!--Fin de Ventana Modal-->
</body>
</html>