<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
    <link rel="stylesheet" href="../../resources/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <!--<img src="logo.png" alt="">-->
                </span>
                <div class="text logo-text">
                    <span class="name">Apparecchio</span>
                </div>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <!--Enlaces dashboard-->
        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="principal.html">
                            <i><img src="https://img.icons8.com/sf-black-filled/48/null/home.png" /></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <!--Enlace a la página de pedidos-->
                    <li class="nav-link">
                        <a href="../dashboard/pedidos.html">
                            <i><img src="https://img.icons8.com/ios-glyphs/40/null/shopping-cart--v1.png" /></i>
                            <span class="text nav-text">Pedidos</span>
                        </a>
                    </li>
                    <!--Enlace a la página de clientes-->
                    <li class="nav-link">
                        <a href="../dashboard/clientes.html">
                            <i><img src="https://img.icons8.com/sf-black-filled/48/null/conference-call.png" /></i>
                            <span class="text nav-text">Clientes</span>
                        </a>
                    </li>
                    <!--Enlace a la página de productos-->
                    <li class="nav-link">
                        <a href="../dashboard/productos.html">
                            <i><img src="https://img.icons8.com/material-sharp/42/null/package.png" /></i>
                            <span class="text nav-text">Productos</span>
                        </a>
                    </li>
                    <!--Enlace a la página de usuarios-->
                    <li class="nav-link">
                        <a href="../dashboard/usuarios.html">
                            <i><img src="https://img.icons8.com/fluency-systems-filled/48/null/user.png" /></i>
                            <span class="text nav-text">Usuarios</span>
                        </a>
                    </li>
                    <!--Enlace a la página de categorias-->
                    <li class="nav-link">
                        <a href="../dashboard/categorias.html">
                            <i><img
                                    src="https://img.icons8.com/external-others-inmotus-design/40/null/external-Check-List-check-others-inmotus-design.png" /></i>
                            <span class="text nav-text">Categorias</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="../dashboard/Marcas.html">
                            <i><img src="https://img.icons8.com/external-sbts2018-outline-sbts2018/40/null/external-brand-basic-ui-elements-2.2-sbts2018-outline-sbts2018.png"/></i>
                            <span class="text nav-text">Marcas</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <!--Logout/cierre de sesión-->
                <li class="">
                    <a href="index.html">
                        <i><img
                                src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/48/null/external-exit-essentials-tanah-basah-glyph-tanah-basah.png" /></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                <!--Boton de modo oscuro-->
                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>
    <section class="home">
        <div class="container">
            <div class="text">
                <h2>Usuarios</h2>
            </div>
            <div class="row justify-content-md-center">
                <!--Buscador-->
                <div class="col-md-5">
                    <form method="post" id="search-form">
                        <div class="input-field  flex-nowrap col-12">
                            <img src="https://img.icons8.com/ios-filled/32/null/search--v1.png" />
                            <input id="search" type="text" name="Buscar " placeholder="Buscar" required>
                            <button type="submit" class="btn waves-effect green tooltipped" data-tooltip="Buscar">
                                <img src="https://img.icons8.com/glyph-neue/40/null/ok--v1.png" />
                            </button>
                        </div>
                    </form>
                </div>
                <!--Botón de añadir que abre un modal para crear usuario-->
                <div class="col-md-3">
                    <button class="border-0 " onclick="openCreate()"><img
                            src="https://img.icons8.com/ios-glyphs/40/null/add--v1.png" /></button>
                </div>
                <!--Botón que crea reportes-->
                <div class="col-md-4">
                    Reportes
                    <button class="border-0"><img
                            src="https://img.icons8.com/fluency-systems-filled/40/null/report-card.png" /></button>
                </div>
            </div><br>
            <!--tabla de contenido-->
            <div>
                <table class="table table-stripped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Jared</td>
                            <td>Diaz</td>
                            <td>ejemplo@gmail.com</td>
                            <td>JaredDiaz</td>
                            <td>Activo</td>
                            <td>
                                <img src="https://img.icons8.com/ios-filled/40/null/minus.png"
                                    onclick="openCreate3()" />
                                <img src="https://img.icons8.com/ios-glyphs/30/null/refresh--v1.png" onclick="editarUsuario()">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");
        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })
        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");
            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";
            }
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../controllers/dasboard/usuarios.js"></script>
</body>

</html>