<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/public.css">
    <script src="../../controllers/components.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</head>

<body class="bg-light">
    <!-- Barra de contactos superior -->
    <div class="navbar bg-dark py-2 px-0">
        <div class="container-fluid bg-dark d-flex justify-content-around">
            <!-- desaparece en pantallas pequeñas -->
            <ul class="list-inline mb-0 d-none d-lg-inline-block p-1">
                <li class="list-inline-item opacity-75 mr-2">
                    <a class="text-light font-size-sm py-1 pl-0 pr-2" href="">+503 2345 4657 &nbsp;</a>
                </li>
                <li class="list-inline-item opacity-75 mr-2">
                    <a class="text-light font-size-sm py-1 pl-0 pr-2" href=""><img
                            src="https://img.icons8.com/ios/24/FFFFFF/mail.png" />&nbsp; OnlineStore@aparrecchio.com</a>
                </li>
            </ul>
            <div class="d-flex justify-content-around">
                <div class="d-flex">
                    <ul class="list-inline mb-0 d-none d-lg-inline-block p-1">
                        <li class="list-inline-item opacity-75 mr-2">
                            <a class="text-light font-size-sm py-1 pl-0 pr-2" href="">Nosotros</a>
                        </li>
                        <li class="list-inline-item opacity-75 mr-2">
                            <a class="text-light font-size-sm py-1 pl-0 pr-2" href="">Centro de ayuda&nbsp;</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-nowrap">
                    <a href=""><img src="https://img.icons8.com/material-rounded/29/FFFFFF/facebook.png" />&nbsp;</a>
                    <a href=""><img src="https://img.icons8.com/windows/32/FFFFFF/instagram-new.png" />&nbsp;</a>
                    <a href=""><img src="https://img.icons8.com/ios/23/FFFFFF/whatsapp--v1.png" />&nbsp;</a>
                    <a href=""><img src="https://img.icons8.com/ios-filled/23/FFFFFF/twitter.png" />&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Barra de busqueda -->
    <div class="container py-3 border-bottom d-none d-lg-block d-print-block">
        <div class="row">
            <div class="col-2">
                <img src="../../resources/images/apparecchio logo.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-5 align-self-center">
                <form class="d-flex">
                    <input class="form-control rounded " type="search" placeholder="Search...." aria-label="Search">
                    <span class="input-group-text rounded" id="basic-addon1"><img
                            src="https://img.icons8.com/material-outlined/20/000000/search--v1.png" /></span>
                </form>
            </div>
            <div class="col-2"></div>
            <div class="col-3 d-flex justify-content-center align-self-center">
                <button type="button" class="btn btn-outline-light"
                    onclick="location.href='../public/carrito.html'"><img
                        src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/40/null/external-shopping-cart-miscellaneous-kiranshastry-solid-kiranshastry.png" /></button>
                <button type="button" class="btn btn-outline-light" onclick="login()" id="loginbutton">
                    <img src="https://img.icons8.com/ios-filled/30/null/logout-rounded.png" />
                </button>
            </div>
            <div class="overlay">
                <div class="popup">
                    
                </div>
            </div>
        </div>
    </div> 
    <!-- Barra de navegacion -->
    <div class="container py-3 fs-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="menu">
            <div class="container-fluid ">
                <a class="navbar-brand fw-light fS-5 d-flex align-self-center" href="../public/index.html"> <img
                        src="https://img.icons8.com/ios-glyphs/30/584342/home-page--v1.png" /> &nbsp; Home &nbsp; </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-self-center" href="#"
                                id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img
                                    src="https://img.icons8.com/external-anggara-glyph-anggara-putra/29/584342/external-menu-user-interface-anggara-glyph-anggara-putra-2.png" />
                                &nbsp; Categorias &nbsp;
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                                <div class="container d-flex flex-nowrap">
                                    <div class="row">
                                        <div class="col">
                                            <li><a class="dropdown-item text-light" href="#">Refrigeradoras</a></li>
                                            <li><a class="dropdown-item text-light" href="#">Cocinas</a></li>
                                            <li><a class="dropdown-item text-light" href="#">Freidores de Alimentos</a>
                                            </li>
                                            <li><a class="dropdown-item text-light" href="#">Campanas de Pared</a></li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <li><a class="dropdown-item text-light" href="#">Lavavajillas</a></li>
                                            <li><a class="dropdown-item text-light"
                                                    href="../public/productos.html">Secadoras</a></li>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-self-center" href="#"
                                id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <img
                                    src="https://img.icons8.com/external-glyph-geotatah/30/584342/external-brand-customer-engagement-glyph-glyph-geotatah-4.png" />
                                &nbsp; Marcas &nbsp;
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                                <div class="contaier d-flex flex-nowrap">
                                    <div class="row">
                                        <div class="col">
                                            <li><a class="dropdown-item text-light"
                                                    href="../public/productos.html">Samsung</a></li>
                                            <li><a class="dropdown-item text-light" href="#">General Eletrics</a></li>
                                            <li><a class="dropdown-item text-light" href="#">Whirlpool</a></li>
                                            <li><a class="dropdown-item text-light" href="#">AEG</a></li>
                                            <li><a class="dropdown-item text-light" href="#">Fagor</a></li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <li><a class="dropdown-item text-light" href="#">LG</a></li>
                                            <li><a class="dropdown-item text-light" href="#">Sony</a></li>
                                            <li><a class="dropdown-item text-light" href="#">Mabe</a></li>
                                            <li><a class="dropdown-item text-light" href="#">Frigidaire</a></li>
                                            <li><a class="dropdown-item text-light" href="#">Oster</a></li>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <li><a class="dropdown-item" href="#">Philips</a></li>
                                            <li><a class="dropdown-item" href="#">Balay</a></li>
                                            <li><a class="dropdown-item" href="#">Bosch</a></li>
                                            <li><a class="dropdown-item" href="#">Beko</a></li>
                                            <li><a class="dropdown-item" href="#">Panasonic</a></li>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-self-center" href="#"><img
                                    src="https://img.icons8.com/ios-glyphs/30/584342/discount--v1.png" /> &nbsp; Ofertas
                                &nbsp;</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-self-center" href="#"><img
                                    src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/30/584342/external-new-sales-vitaliy-gorbachev-fill-vitaly-gorbachev.png" />
                                &nbsp; Nuevos Productos &nbsp;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- registro de compras -->
    <div class="container my-3">
        <p class="fs-3">Carrito de Compras</p>
        <div class="row mb-4">
            <div class="col-10">
                <div class="row mb-3">
                    <div class="col-3">
                        <img src="../../resources/images/not found.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-9">
                        <p class="fs-5">Centro de lavado MCL2040EPDG0 | 44 lb (lavado), 44 lb (secado)</p>
                        <p class="fs-6">Mayor capacidad, diseño fácil de usar y panel Touch amigable.</p>
                        <div class="d-flex flex-row justify-content-between">
                            <p class="fs-6">$199.99</p>
                            <p class="fs-6">cantidad: 1</p>
                            <p class="fs-6">Garantía: 12 meses</p>
                            <p class="fs-6">Total: $199.99</p>
                            <a href="">eliminar</a>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        <img src="../../resources/images/not found.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-9">
                        <p class="fs-5">Centro de lavado MCL2040EPDG0 | 44 lb (lavado), 44 lb (secado)</p>
                        <p class="fs-6">Mayor capacidad, diseño fácil de usar y panel Touch amigable.</p>
                        <div class="d-flex flex-row justify-content-between">
                            <p class="fs-6">$199.99</p>
                            <p class="fs-6">cantidad: 1</p>
                            <p class="fs-6">Garantía: 12 meses</p>
                            <p class="fs-6">Total: $199.99</p>
                            <a href="">eliminar</a>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        <img src="../../resources/images/not found.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-9">
                        <p class="fs-5">Centro de lavado MCL2040EPDG0 | 44 lb (lavado), 44 lb (secado)</p>
                        <p class="fs-6">Mayor capacidad, diseño fácil de usar y panel Touch amigable.</p>
                        <div class="d-flex flex-row justify-content-between">
                            <p class="fs-6">$199.99</p>
                            <p class="fs-6">cantidad: 1</p>
                            <p class="fs-6">Garantía: 12 meses</p>
                            <p class="fs-6">Total: $199.99</p>
                            <a href="">eliminar</a>
                        </div>
                    </div>
                    <div class="col-2 mt-3">
                        <a class="btn btn-primary text-light" data-bs-toggle="offcanvas" href="#offcanvasExample"
                            role="button" aria-controls="offcanvasExample">
                            Confirmar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-2 mx-auto">
                <div class="offcanvas offcanvas-end text-light" tabindex="-1" id="offcanvasExample"
                    aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Resumen de compra</h5>
                        <button type="button" class="btn-close-white text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div>
                            <p class="fs-4">Subtotal: $599.97</p>
                            <p class="fs-4">Cantidad de productos: 3</p>
                        </div>
                        <div class="d-grid gap-2 col-10 mx-auto my-3">
                            <button class="btn btn-primary" type="submit" onclick="confirmacion()">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="container-fluid bg-dark">
        <div class="row py-5">
            <div class="col-3 d-sm-none d-md-block">
                <p class="fs-6 text-center text-light">Categorias mas populares</p>
                <ol class="list-group list-group-numbered ms-5 bg-dark">
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light"
                                    href="../public/productos.html">Lavadoras</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">54</span>
                    </li>
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light" href="">Lavavajillas</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">44</span>
                    </li>
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light" href="">Cocinas</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">34</span>
                    </li>
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light" href="">Refrigeradoras</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">24</span>
                    </li>
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light" href="">Secadoras</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">14</span>
                    </li>
                </ol>
            </div>
            <div class="col-3 d-sm-none d-md-block">
                <p class="fs-6 text-light">Marcas mas reconocidas</p>
                <ol class="list-group list-group-numbered bg-dark">
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light"
                                    href="../public/productos.html">Samsung</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">64</span>
                    </li>
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light" href="">LG</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">34</span>
                    </li>
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light" href="">Panasonic</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">14</span>
                    </li>
                </ol>
            </div>
            <div class="col-3 d-sm-none d-md-block">
                <p class="fs-6 text-light border-bottom">Contacta con nosotros</p>
                <div class="mb-3 text-light">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control bg-light" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3 text-light">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control bg-light" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-light btn-outline-light text-dark">Submit</button>
            </div>
            <div class="col-3">
                <div class="d-flex flex-column mx-4">
                    <a href="" class="text-light"><img
                            src="https://img.icons8.com/material-rounded/29/FFFFFF/facebook.png" />&nbsp; facebook</a>
                    <br>
                    <a href="" class="text-light"><img
                            src="https://img.icons8.com/windows/32/FFFFFF/instagram-new.png" />&nbsp; instagram</a>
                    <br>
                    <a href="" class="text-light"><img
                            src="https://img.icons8.com/ios/23/FFFFFF/whatsapp--v1.png" />&nbsp; whatsapp</a>
                    <br>
                    <a href="" class="text-light"><img
                            src="https://img.icons8.com/ios-filled/23/FFFFFF/twitter.png" />&nbsp; twitter</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>