<!-- formulario nueva cuenta -->
<div class="container my-3">
  <form action="/api/clients" method="post">
    <div class="row">
      <div class="col mx-1 my-1">
        Nombre: <input type="text" name="name" required>
      </div>
      <div class="col mx-1 my-1">
        Apellido: <input type="text" name="lastname" required>
      </div>
      <div class="col mx-1 my-1">
        Correo: <input type="email" name="email" required class="text-light">
      </div>
      <div class="col mx-1 my-1">
        dui: <input type="text" name="identity_card" required>
      </div>
      <div class="col mx-1 my-1">
        usuario: <input type="text" name="user" required>
      </div>
      <div class="col mx-1 my-1">
        clave: <input type="password" name="password" required>
        <input type="text" name="public" value="public" id="" hidden>
      </div>
      <div class="col">
        <button class="btn btn-success" type="submit">Enviar</button>
      </div>
    </div>
  </form>
</div>

