<!-- footer -->
<div class="container-fluid bg-dark">
    <div class="row py-5">
        <div class="col-3 d-sm-none d-md-block">
            <p class="fs-6 text-center text-light">Categorias mas populares</p>
            <ol class="list-group list-group-numbered ms-5 bg-dark">
                <li
                    class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                    <div class="ms-2 me-auto">
                        <div class="fs-6 fw-lighter"><a class="text-light"
                                href="../public/productos.html">Lavadoras</a></div>
                    </div>
                    <span class="badge bg-light text-dark rounded-pill">54</span>
                </li>
                <li
                    class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                    <div class="ms-2 me-auto">
                        <div class="fs-6 fw-lighter"><a class="text-light" href="">Lavavajillas</a></div>
                    </div>
                    <span class="badge bg-light text-dark rounded-pill">44</span>
                </li>
                <li
                    class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                    <div class="ms-2 me-auto">
                        <div class="fs-6 fw-lighter"><a class="text-light" href="">Cocinas</a></div>
                    </div>
                    <span class="badge bg-light text-dark rounded-pill">34</span>
                </li>
                <li
                    class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                    <div class="ms-2 me-auto">
                        <div class="fs-6 fw-lighter"><a class="text-light" href="">Refrigeradoras</a></div>
                    </div>
                    <span class="badge bg-light text-dark rounded-pill">24</span>
                </li>
                <li
                    class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                    <div class="ms-2 me-auto">
                        <div class="fs-6 fw-lighter"><a class="text-light" href="">Secadoras</a></div>
                    </div>
                    <span class="badge bg-light text-dark rounded-pill">14</span>
                </li>
            </ol>
        </div>
        <div class="col-3 d-sm-none d-md-block">
            <p class="fs-6 text-light">Marcas mas reconocidas</p>
            <ol class="list-group list-group-numbered bg-dark">
                <li
                    class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                    <div class="ms-2 me-auto">
                        <div class="fs-6 fw-lighter"><a class="text-light"
                                href="../public/productos.html">Samsung</a></div>
                    </div>
                    <span class="badge bg-light text-dark rounded-pill">64</span>
                </li>
                <li
                    class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                    <div class="ms-2 me-auto">
                        <div class="fs-6 fw-lighter"><a class="text-light" href="">LG</a></div>
                    </div>
                    <span class="badge bg-light text-dark rounded-pill">34</span>
                </li>
                <li
                    class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                    <div class="ms-2 me-auto">
                        <div class="fs-6 fw-lighter"><a class="text-light" href="">Panasonic</a></div>
                    </div>
                    <span class="badge bg-light text-dark rounded-pill">14</span>
                </li>
            </ol>
        </div>
        <div class="col-3 d-sm-none d-md-block">
            <p class="fs-6 text-light border-bottom">Contacta con nosotros</p>
            <div class="mb-3 text-light">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control bg-light" id="exampleFormControlInput1"
                    placeholder="name@example.com">
            </div>
            <div class="mb-3 text-light">
                <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
                <textarea class="form-control bg-light" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-light btn-outline-light text-dark">Submit</button>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column mx-4">
                <a href="" class="text-light"><img
                        src="https://img.icons8.com/material-rounded/29/FFFFFF/facebook.png" />&nbsp; facebook</a>
                <br>
                <a href="" class="text-light"><img
                        src="https://img.icons8.com/windows/32/FFFFFF/instagram-new.png" />&nbsp; instagram</a>
                <br>
                <a href="" class="text-light"><img
                        src="https://img.icons8.com/ios/23/FFFFFF/whatsapp--v1.png" />&nbsp; whatsapp</a>
                <br>
                <a href="" class="text-light"><img
                        src="https://img.icons8.com/ios-filled/23/FFFFFF/twitter.png" />&nbsp; twitter</a>
            </div>
        </div>
    </div>
</div>