<!DOCTYPE html>
<%- include('nav.ejs') -%>

    <!-- espacio para productos -->
    <div class="container">
        <div class="row">
            <!-- espacio para filtros -->
            <div class="col-3 my-5 border-end d-sm-none d-md-block">
                <p class="fs-5 fw-bold pb-3">Filtros</p>
                <!-- filtro por tipos list group -->
                <div class="row">
                    <p class="fs-6 pe-1">Tipo</p>
                    <div class="col">
                        <ul class="list-group mx-2 pb-2">
                            <li class="list-group-item bg-light">
                                <input class="form-check-input me-1 " type="checkbox" value="" aria-label="...">
                                Frio
                            </li>
                            <li class="list-group-item bg-light">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Seco
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- filtro por capacidad list group -->
                <div class="row">
                    <p class="fs-6 pt-3">Capacidad</p>
                    <div class="col">
                        <ul class="list-group mx-2 pb-2">
                            <li class="list-group-item bg-light">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                5kg - 10kg
                            </li>
                            <li class="list-group-item bg-light">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                11kg - 20kg
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- filtro por marca list group -->
                <div class="row">
                    <p class="fs-6 pt-3">Marca</p>
                    <div class="col">
                        <ul class="list-group mx-2 pb-2">
                            <li class="list-group-item bg-light">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Samsung
                            </li>
                            <li class="list-group-item bg-light">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                LG
                            </li>
                            <li class="list-group-item bg-light">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Panasonic
                            </li>
                            <li class="list-group-item bg-light">
                                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                                Mabe
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- filtro por precio range -->
                <div class="row">
                    <p class="fs-6 pt-3">Precio</p>
                    <div class="col">
                        <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
                    </div>
                </div>
                <div class="row d-grid gap-2 mx-auto py-3">
                    <button type="submit" class="btn btn-outline-dark">Aplicar Filtros</button>
                </div>
            </div>
            <!-- espacio para productos -->
            <div class="col-9 mt-5">
                <div class="row mb-3">
                    <div class="row d-flex justify-content-around" id="Nuevos-productos">
                        <div class="col-2 -align-self-start">
                            <div class="card text-dark text-center bg-light border-1">
                                <img src="../../resources/images/not found.jpg" class="card-img-top rounded" alt="...">
                                <div class="card-body d-grid gap-2">
                                    <h5 class="card-title">Centro de lavado</h5>
                                    <p class="card-text"></p>
                                    <a href="../public/producto.html" class="btn btn-primary rounded">Ver
                                        mas...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card text-center bg-light border-1" style="width: 13rem;">
                                <img src="../../resources/images/not found.jpg" class="card-img-top rounded" alt="...">
                                <div class="card-body d-grid gap-2">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary rounded">Ver mas...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card text-center bg-light border-1" style="width: 13rem;">
                                <img src="../../resources/images/not found.jpg" class="card-img-top rounded" alt="...">
                                <div class="card-body d-grid gap-2">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary rounded">Ver mas...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card text-center bg-light border-1" style="width: 13rem;">
                                <img src="../../resources/images/not found.jpg" class="card-img-top rounded" alt="...">
                                <div class="card-body d-grid gap-2">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary rounded">Ver mas...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-md-none">
                            <div class="card text-center bg-light border-1" style="width: 13rem;">
                                <img src="../../resources/images/not found.jpg" class="card-img-top rounded" alt="...">
                                <div class="card-body d-grid gap-2">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary rounded">Ver mas...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="row d-flex justify-content-around" id="Nuevos-productos">
                        <div class="col-2 -align-self-start ">
                            <div class="card text-dark text-center bg-light border-1" style="width: 13rem;">
                                <img src="../../resources/images/not found.jpg" class="card-img-top rounded" alt="...">
                                <div class="card-body d-grid gap-2">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary rounded">Ver mas...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card text-center bg-light border-1" style="width: 13rem;">
                                <img src="../../resources/images/not found.jpg" class="card-img-top rounded" alt="...">
                                <div class="card-body d-grid gap-2">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary rounded">Ver mas...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card text-center bg-light border-1" style="width: 13rem;">
                                <img src="../../resources/images/not found.jpg" class="card-img-top rounded" alt="...">
                                <div class="card-body d-grid gap-2">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary rounded">Ver mas...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card text-center bg-light border-1" style="width: 13rem;">
                                <img src="../../resources/images/not found.jpg" class="card-img-top rounded" alt="...">
                                <div class="card-body d-grid gap-2">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary rounded">Ver mas...</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-md-none">
                            <div class="card text-center bg-light border-1" style="width: 13rem;">
                                <img src="../../resources/images/not found.jpg" class="card-img-top rounded" alt="...">
                                <div class="card-body d-grid gap-2">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text"></p>
                                    <a href="#" class="btn btn-primary rounded">Ver mas...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="container-fluid bg-dark">
        <div class="row py-5">
            <div class="col-3 d-sm-none d-md-block">
                <p class="fs-6 text-center text-light">Categorias mas populares</p>
                <ol class="list-group list-group-numbered ms-5 bg-dark">
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light"
                                    href="../public/productos.html">Lavadoras</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">54</span>
                    </li>
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light" href="">Lavavajillas</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">44</span>
                    </li>
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light" href="">Cocinas</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">34</span>
                    </li>
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light" href="">Refrigeradoras</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">24</span>
                    </li>
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light" href="">Secadoras</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">14</span>
                    </li>
                </ol>
            </div>
            <div class="col-3 d-sm-none d-md-block">
                <p class="fs-6 text-light">Marcas mas reconocidas</p>
                <ol class="list-group list-group-numbered bg-dark">
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light"
                                    href="../public/productos.html">Samsung</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">64</span>
                    </li>
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light" href="">LG</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">34</span>
                    </li>
                    <li
                        class="list-group-item d-flex justify-content-between align-items-start bg-dark text-light border-0">
                        <div class="ms-2 me-auto">
                            <div class="fs-6 fw-lighter"><a class="text-light" href="">Panasonic</a></div>
                        </div>
                        <span class="badge bg-light text-dark rounded-pill">14</span>
                    </li>
                </ol>
            </div>
            <div class="col-3 d-sm-none d-md-block">
                <p class="fs-6 text-light border-bottom">Contacta con nosotros</p>
                <div class="mb-3 text-light">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control bg-light" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3 text-light">
                    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                    <textarea class="form-control bg-light" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-light btn-outline-light text-dark">Submit</button>
            </div>
            <div class="col-3">
                <div class="d-flex flex-column mx-4">
                    <a href="" class="text-light"><img
                            src="https://img.icons8.com/material-rounded/29/FFFFFF/facebook.png" />&nbsp; facebook</a>
                    <br>
                    <a href="" class="text-light"><img
                            src="https://img.icons8.com/windows/32/FFFFFF/instagram-new.png" />&nbsp; instagram</a>
                    <br>
                    <a href="" class="text-light"><img
                            src="https://img.icons8.com/ios/23/FFFFFF/whatsapp--v1.png" />&nbsp; whatsapp</a>
                    <br>
                    <a href="" class="text-light"><img
                            src="https://img.icons8.com/ios-filled/23/FFFFFF/twitter.png" />&nbsp; twitter</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer.ejs') -%>